<p>1 ـ  يغلق التسجيل بشكل نهائي عند اكتمال عدد الطلاب. </p>
<p>2 ـ  الأعداد محدودة، والأولوية في التسجيل للطلاب القدامى والأخوة. </p>
<p>3 ـ  تثبيت الطلاب يكون عن طريق دفع القسط الأول ولا يعد مقعد الطالب محجوزاً إذا لم يدفع القسط الفصلي قبل تاريخ 03.10.2026. </p>
<p>4 ـ  القسط السنوي يدفع (على دفعة واحدة أو دفعتين) عن كل طالب وطالبة. </p>
<p>5 ـ  لا يحق لأولياء الأمور المطالبة بإرجاع أي مبلغ من القسط إذا انسحب الطالب بعد بدء الدوام. </p>
<p>6 ـ  غياب أي طالب على مسؤوليته الشخصية و لا تعوض له الدروس. </p>
<p>7 ـ  يوم السبت من كل أسبوع هو يوم الدوام في المسجد في جامع فرناو، وفي حال إغلاق المسجد بسبب الحجر الصحي لا يتوقف الدوام بل تتم متابعته عن طريق التعليم عن بعد. وتحدد ساعات الدوام لاحقاً. </p>
<p>8 ـ  على كل طالب وطالبة الالتزام التام باللباس الشرعي، والحضور إلى المسجد على وضوء، وهذه مسؤولية أولياء الأمور. </p>
<p>9 ـ  تغلق أبواب المسجد بعد بدء الدوام، ولا يسمح بمغادرة ساحة المسجد إلا عند انتهاء الدوام. </p>
<p>10 ـ  يرسل جدول الدوام والعطل للأهالي لاحقاً في منصة دار الفرح. </p>
<p>11 ـ  يلتزم الأهالي بتحفيظ أولادهم المقررات المطلوبة. </p>
<p>12 ـ  يرجى عدم إحضار الطالب المريض إلى المسجد حرصاً على السلامة العامة. </p>
<p>13 ـ  الهدف من تصوير الطلاب، تصميم فيديو خاص بالمدرسة. </p>
<p>14 ـ  على كل ولي أمر توضيح نوع الحمية الغذائية الخاصة بطفله في حال وجودها. </p>

<h2 class="mt-6">معلومات التسجيل:</h2>
<p>1 ـ  يتم التواصل مع الأستاذ عبد الرزاق للتسجيل ودفع القسط. </p>
<p>2 ـ  الرجاء من الأهالي الكرام عدم مقاطعة أساتذة الحلقة أثناء الدوام، والتواصل مع الأستاذ عبد الرزاق بعد الدوام أو قبله. </p>
<p>3 ـ يجب ملء استمارة التسجيل للراغبين ولا يعتبر الطالب مسجلاً إلا بعد إرسالها. </p>

<h2 class="mt-6">محتوى المناهج:</h2>
<p class="font-bold">أولاً: تشمل التربية الإسلامية: </p>
<p>- تدبر وتفسير الآيات الكريمة.</p>
<p>- حفظ سور من القرآن الكريم حسب الأعمار والمستويات.</p>
<p>- شرح الحديث الشريف.</p>
<p>- العقيدة والفقه.</p>
<p>- السيرة النبوية والقَصص القرآنية.</p>
<p>- الأخلاق والآداب الإسلامية.</p>
<p>- دروس في الحياء والحماية وأمور خاصة بالمراهقين.</p>
<p>- تدريبات وأنشطة متنوعة.</p>
<p class="font-bold">ثانياً: اللغة العربية:</p>
<p>- سلسلة المتمم.</p>
<p>- القاعدة النورانية / الجزء الرشيدي.</p>
